@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<section class="clearfix object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/about/about_bg01.jpg" alt="" style="width: 100%" />
            </div>
        </div>
    </div>
</section>
<!-- section start -->
<!-- ================ -->
<section class="pv-20 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">公司简介</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-12" style="height: 10px;"></div>
            <div class="col-md-12">
                <p class="indent text-center">天平投资管理有限公司是一家以量化交易为核心的互联网金融公司，致力于通过IT技术提升互联网金融业运营质量和服务体验，自成立以来以其成熟的量化交易系统和创新的信息服务网络平台，为个人和机构投资者提供安全而卓越的资产管理和增值服务。公司不断探索创新互联网金融领域，以全套的“大金融”平台模式，为客户提供创新的“一站式”解决方案。</p>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-10">
                <div class="description-title" style="margin-bottom: 30px;">
                    <h4>比特金服核心团队</h4>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man1.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>柯利明</h4>
                        <h5>实盈董事局主席</h5>
                        <p>实盈（前海）金融服务有限公司董事，著名影视投资人、金融硕士，国内少数具备海归金融投资相关高学历背景和职业经验的影视剧制片人，2015年春以股东身份强势亮相实盈，负责影视基金的发行与销售。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="120">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man2.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>凌 山</h4>
                        <h5>实盈首席执行官</h5>
                        <p>实盈发起人与联合创始人，北京大学学士，曾任海印集团IT部门高管，现负责实盈集团证券及金融软件的统筹编写与系统算法研发工作。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="140">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man3.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>何仁杰</h4>
                        <h5>实盈首席运营官</h5>
                        <p>实盈联合创始人，深圳大学金融管理学士，曾任职与汇丰银行与久邦数码等上市公司客户管理部门，现负责实盈公司运营与投资者关系管理工作。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="160">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man4.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>李进东</h4>
                        <h5>首席风险执行官</h5>
                        <p>实盈联合创始人，悉尼大学商业管理学士，曾任Peter Warran Automotive市场管理工作，同时具备丰富的高新行业、科技农业、环保行业及商业地产项目的投资经历，现负责实盈风险管理战略规划与监督基金风控体系运营等相关工作。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="180">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man5.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>邓 崛</h4>
                        <h5>CMO（Chief  Marketing  Officer）首席市场官</h5>
                        <p>比特金服联合创始人，北京大学金融工程学士，曾任同信证券市场部高管，熟悉金融市场动态与各类金融产品，现负责实盈市场开拓与客户关系维护。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                <div class="clearfix leader">
                    <div class="leader-img">
                        <img src="/assets/images/about/man6.jpg" alt="" />
                    </div>
                    <div class="leader-content">
                        <h4>陈 鑫</h4>
                        <h5>CTO（Chief  Technology  Officer） 首席技术官</h5>
                        <p>比特金服联合创始人，复旦大学电子自动化学士，曾任四川长虹信息技术部高管，现负责AlgoForce交易系统测试、维护与优化等工作。拓与客户关系维护。</p>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>
<!-- section end -->
<!-- section start -->
<!-- ================ -->
<section class="pv-20 light-gray-bg clearfix">
    <div class="container ding">
        <div class="row">
            <div class="col-md-6 object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                <div class="description-title">
                    <h4>量化投资的中国教父：丁鹏博士</h4>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="indent">丁鹏，中国量化投资学会理事长，博士，《量化投资-策略与技术》的作者。方正富邦基金资深量化策略师；IEEE（国际电子电气工程协会）会员；AFA（美国金融学会）会员；《量化投资与对冲基金》副主编。</p>
                        <p class="indent">丁鹏撰写的《量化投资-策略与技术》一书，是业内第一本全面阐述量化投资策略的教科书，该书已经成为业内量化投资的经典教材。曾任东方证券金融衍生品总部资深分析师，开发了D-Alpha量化对冲系统及数个实战有效的量化投资策略，实战中获得持续稳健的收益</p>
                    </div>
                    <div class="col-sm-3">
                        <img src="/assets/images/about/ding_sm.jpg" alt="" style="display:block;margin: auto" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br />
                <iframe class="frame video" src="http://img1.c0.letv.com/ptv/player/swfPlayer.swf?autoPlay=0&id=2140443" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- section start -->
<!-- ================ -->
<!-- section start -->
<!-- ================ -->
<section class="pv-20 clearfix">
    <div class="container coo">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">合作机构介绍</h2>
                <div class="separator"></div>
            </div>
            <div class="col-md-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                <div class="coo-head">
                    <div class="v-block"></div>
                    <p>基金管理人</p>
                    <span>01</span>
                </div>
                <p class="indent"><span class="company-title">鹏华基金管理有限公司</span>成立于1998年12月22日，注册资本15,000万元人民币，总部设在深圳，在北京、上海、广州、武汉设有分公司，2013年1月，在深圳前海设立全资子公司鹏华资产管理（深圳）有限公司。目前的股东由国信证券股份有限公司、意大利欧利盛资本资产管理股份公司（Eurizon Capital SGR S.p.A.）、深圳市北融信投资发展有限公司组成，三家股东的出资比例分别为50%、49%、1%，业务范围包括基金募集、基金销售、资产管理及中国证监会许可的其他业务。截至2014年3月31日，公司管理资产总规模达到1443.42亿元，管理2只封闭式基金、47只开放式基金、7只全国社保投资组合。</p>
            </div>
            <div class="col-md-12 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="120">
                <div class="coo-head">
                    <div class="v-block"></div>
                    <p>托管银行 </p>
                    <span>02</span>
                </div>
                <p class="indent"><span class="company-title">招商银行</span>是中国第一家完全由企业法人持股的股份制商业银行，成立于1987年4月8日，由香港招商局集团有限公司创办，是中国内地规模第六大的银行、香港中资金融股的八行五保之一。总行设在深圳市福田区，2002年4月9日，招商银行A股在上海证券交易所挂牌上市。2006年9月8日，招商银行开始在香港公开招股，发行约22亿股H股，集资200亿港元，并在9月22日于港交所上市。资本净额超过2900亿、资产总额超过4.4万亿。</p>
            </div>
            <div class="col-md-12 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="140">
                <div class="coo-head">
                    <div class="v-block"></div>
                    <p>法律顾问 </p>
                    <span>03</span>
                </div>
                <p class="indent"><span class="company-title">广东岭南律师事务所</span>于1984年由中山大学法律学系创办，是岭南地区最早创立的律师事务所之一。律师事务所现有合伙人8名，执业律师70名，其中21位为教授、副教授，12位具有博士学位；11位律师担任中国国际经济贸易仲裁委员会、广州仲裁委员会等仲裁机构的仲裁员；20位律师具有税务师资格。</p>
                <p class="indent">创办三十载，我所一直秉承“专业、稳健、精诚、和谐”的办所原则，默默耕耘在中国法制建设的田野中，三十年的耕耘，三十年的汗水，前后几代法律人的学院派传承，终使岭南所成为南中国举足轻重的法律服务机构之一。</p>
            </div>
            <div class="col-md-12 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="160">
                <div class="coo-head">
                    <div class="v-block"></div>
                    <p>投资顾问 </p>
                    <span>04</span>
                </div>
                <p class="indent"><span class="company-title">广州实盈投资管理有限公司</span>是一个以量化技术为核心的基金管理公司，拥有成熟的量化交易系统和创新的信息通讯平台，为个人投资者和机构投资者提供优越的资产管理和增值服务。公司不断与金融同业共同探索新业务，以整合的“大金融”平台模式，为客户提供创新的“一站式”服务。</p>
                <p class="indent">实盈汇集了亚洲（包含中国）及华尔街的顶尖的量化技术专家、金融专家、投资顾问专家组成的公司管理团队，为公司的量化策略制定、对冲基金业务及量化技术研发提供强大支持。从广州实盈创立起，丁鹏博士作为首席策略顾问，为公司的总体策略研究和交易实施进行了全面的架构，在他的指导下，实盈量化团队开发了多个稳定盈利的策略，为客户持续创造收益。</p>
            </div>
        </div>
    </div>
</section>
<!-- section end -->
<!-- section start -->
<section class="pv-20 light-gray-bg clearfix object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
    <div class="container contact">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">联系我们</h2>
                <div class="separator"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="footer-content">
                    <ul class="list" style="line-height:28px; margin-top:10px;">
                        <li><span>公司名称：</span>天平投资管理有限公司（天平金服）</li>
                        <li><span>邮箱：</span><a class="reservation-btn" style="color: rgb(205, 159, 59);cursor:pointer">service@balance.com</a></li>
                        <li><span>QQ群：</span>337433883</li>
                        <li><span>电话：</span>028-85057407</li>
                        <li><span>传真：</span>028-85057407</li>
                        <li><span>地址：</span>成都市锦江区芷泉街6号时代一号大厦908</li>
                        <li><span>邮编：</span>610000</li>
                    </ul>
                    <div class="separator-2"></div>
                </div>
            </div>
            <div class="col-md-6" >
                <br class="hidden-xs" />
                <iframe class="frame" id="dituContent" src="map.html" frameborder="0" scrolling="no" style="margin-left:-10px;margin-bottom:30px;"></iframe>
            </div>
        </div>
    </div>
</section>
@Html.Partial("ModalReservation")