@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
<section class="clearfix mt-5">
    <div class="container">
        <div class="owl-carousel content-slider-with-large-controls-autoplay owl-theme">
            <div class="overlay-container overlay-visible">
                <img src="~/assets/images/chips/chipsBg1.jpg" alt="Alternate Text" style="width:100%" />
            </div>
            <div class="overlay-container overlay-visible">
                <img src="~/assets/images/chips/chipsBg2.jpg" alt="Alternate Text" style="width:100%" />
            </div>
            <div class="overlay-container overlay-visible">
                <img src="~/assets/images/chips/chipsBg3.jpg" alt="Alternate Text" style="width:100%" />
            </div>
        </div>
    </div>
</section>
<section class="pv-20 clearfix chips1">
    <div class="container">
        <p class="pro-sign"></p>
        <div class="pro-content mt-20">
            <div class="row ">
                <div class="col-md-5 col-sm-7 pro-left">
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/images/chips/pre/XXX1.jpg" alt="Alternate Text" />
                        <a href="/Productdetails" class="overlay-link"></a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-5">
                    <div class="pro-info">
                        <div class="pro-title">
                            <p>
                                <a href="#" target="_blank">谁是你的菜</a>
                            </p>
                            <div class="inv-right-info mt-10">
                                明星唇枪舌剑的综艺秀
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1CF0IKFXXXXb9XVXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>谢楠</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1PRJLKFXXXXaHXVXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>沈凌</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1V6F3KFXXXXX_XpXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>宋小宝</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB12GWcKFXXXXXsXXXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>蒋欣</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-md-6">
                                    <p class="pro-time">12月04日开抢</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="pro-button">
                                        <div class="pro-count">100元/份</div>
                                        <a href="/chips" target="_blank" data-spm-anchor-id="a1z3h.7629854.0.0">即将开始</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pro-content mt-20">
            <div class="row ">
                <div class="col-md-5 col-sm-7 pro-left">
                    <div class="overlay-container overlay-visible">
                        <img src="/assets/images/chips/pre/XXX2.jpg" alt="Alternate Text" />
                        <a href="/Productdetails" class="overlay-link"></a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-5">
                    <div class="pro-info">
                        <div class="pro-title">
                            <p>
                                <a href="#" target="_blank">小门神</a>
                            </p>
                            <div class="inv-right-info mt-10">
                                带你去看精彩首映礼
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1tH02KFXXXXcbXpXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>神荼</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1xAhIKFXXXXa0XVXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>郁垒</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-xs-3">
                                    <div class="inv-role-mask">
                                        <img alt="" src="//img.alicdn.com/tfscom/TB1BNl4KFXXXXbaXpXXXXXXXXXX.png">
                                        <div class="inv-role-bg"></div>
                                        <span>老胡</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-md-6">
                                    <p class="pro-time">12月04日开抢</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="pro-button">
                                        <div class="pro-count">100元/份</div>
                                        <a href="/chips" target="_blank" data-spm-anchor-id="a1z3h.7629854.0.0">即将开始</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pv-20 clearfix chips2">
    <div class="container">
        <p class="pro-up"></p>
        <div class="row mt-20">
            <div class="col-md-3 col-sm-6">
                <div class="image-box style-2 mb-20 bordered light-gray-bg">
                    <div class="overlay-container overlay-visible">
                        <img src="~/assets/images/chips/chips1.jpg" alt="" style="width:100%">
                        <a href="/Productdetails" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                    <a href="/Productdetails" class="chips_tittle">《小飞侠：幻梦启航》邀你一起畅游梦幻岛</a>
                    <div class="separator-2"></div>
                    <div class="body">
                        <p class="small mb-10 text-muted"><i class="icon-calendar"></i> 2015年12月<i class="pl-10 icon-tag-1"></i> 天平金服</p>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="progress style-1" style="margin:10px 0;">
                                    <div class="row"></div>
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center status">
                                <small>进行中</small>
                            </div>
                        </div>
                        <div class="row chips2-footer">
                            <div class="col-xs-4">
                                <h5>80%</h5>
                                <p>达成率</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>440</h5>
                                <p>支持人数</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>¥2550</h5>
                                <p>已支持</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="image-box style-2 mb-20 bordered light-gray-bg">
                    <div class="overlay-container overlay-visible">
                        <img src="~/assets/images/chips/chips2.jpg" alt=""  style="width:100%">
                        <a href="/Productdetails" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                    <a href="/Productdetails" class="chips_tittle"> 贵妃献礼</a>
                    <div class="separator-2"></div>
                    <div class="body">
                        <p class="small mb-10 text-muted"><i class="icon-calendar"></i> 2015年12月<i class="pl-10 icon-tag-1"></i> 天平金服</p>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="progress style-1" style="margin:10px 0;">
                                    <div class="row"></div>
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center status">
                                <small>进行中</small>
                            </div>
                        </div>
                        <div class="row chips2-footer">
                            <div class="col-xs-4">
                                <h5>80%</h5>
                                <p>达成率</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>440</h5>
                                <p>支持人数</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>¥2550</h5>
                                <p>已支持</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="image-box style-2 mb-20 bordered light-gray-bg">
                    <div class="overlay-container overlay-visible">
                        <img src="~/assets/images/chips/chips3.jpg" alt="" style="width:100%">
                        <a href="/Productdetails" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                    <a href="/Productdetails" class="chips_tittle">《我去上学啦》节目终有别 周边不停歇</a>
                    <div class="separator-2"></div>
                    <div class="body">
                        <p class="small mb-10 text-muted"><i class="icon-calendar"></i> 2015年12月<i class="pl-10 icon-tag-1"></i> 天平金服</p>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="progress style-1" style="margin:10px 0;">
                                    <div class="row"></div>
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center status">
                                <small>进行中</small>
                            </div>
                        </div>
                        <div class="row chips2-footer">
                            <div class="col-xs-4">
                                <h5>80%</h5>
                                <p>达成率</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>440</h5>
                                <p>支持人数</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>¥2550</h5>
                                <p>已支持</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="image-box style-2 mb-20 bordered light-gray-bg">
                    <div class="overlay-container overlay-visible">
                        <img src="~/assets/images/chips/chips4.jpg" alt="" style="width:100%">
                        <a href="/Productdetails" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                    <a href="/Productdetails" class="chips_tittle">《闪亮的爸爸》首播点映礼11月26日“闪亮”北京</a>
                    <div class="separator-2"></div>
                    <div class="body">
                        <p class="small mb-10 text-muted"><i class="icon-calendar"></i> 2015年12月<i class="pl-10 icon-tag-1"></i> 天平金服</p>
                        <div class="row">
                            <div class="col-xs-9">
                                <div class="progress style-1" style="margin:10px 0;">
                                    <div class="row"></div>
                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 text-center status">
                                <small>进行中</small>
                            </div>
                        </div>
                        <div class="row chips2-footer">
                            <div class="col-xs-4">
                                <h5>80%</h5>
                                <p>达成率</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>440</h5>
                                <p>支持人数</p>
                            </div>
                            <div class="col-xs-4">
                                <h5>¥2550</h5>
                                <p>已支持</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>