@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    IContentType ct = ApplicationContext.Services.ContentTypeService.GetContentType("ProductElement");
    IEnumerable<IContent> contents = ApplicationContext.Services.ContentService.GetContentOfContentType(ct.Id).Where(c => c.Status != ContentStatus.Trashed).OrderBy(e => e.GetValue<int>("sort"));
}
<!-- section start -->
<!-- ================ -->
<section class="clearfix pv-20 extreme">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h3>天平·外汇宝</h3>
            </div>
            <div class="col-xs-6 text-right">
                <span class="btn btn-animated btn-warning reservation-btn">立即预约<i class="fa fa-arrow-right pl-10"></i></span>
            </div>
            <div class="col-md-12 clearfix" style="position: static">
                <img src="/assets/images/extreme/extreme_bg.jpg" alt="" style="width: 100%" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 extreme-title">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <h3>外汇宝净值与伦敦金走势图</h3>
            </div>
            <div class="col-md-12 mt-20">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="/assets/images/extreme/net01.jpg" alt="" style="width: 100%" />
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/images/extreme/net02.jpg" alt="" style="width: 100%" />
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/images/extreme/net03.jpg" alt="" style="width: 100%" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row algoforce-benefit">
                    <div class="col-md-2">
                        <img src="/assets/images/extreme/algoforce.jpg" alt="" style="margin: auto" />
                    </div>
                    <div class="col-md-10">
                        <dl>
                            <dt>每月付息，年化收益率高达14%</dt>
                            <dd>"天平外汇宝”是天平投资有限公司推出的按月回收收益的理财服务模式。</dd>
                            <dd>本金选择继续投资，利息按月回收，每月收益高达1.17%。选择逐月续存，收益档次自动累计，年息高达10.08%。</dd>
                            <dd>适用于有闲置资金的理财人群，将资金较大程度利用起来，每月获得可观收益，实现资产增值。</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 extreme-title">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <h3>外汇宝<span style="font-family: Calibri;font-size: 30px;">®</span> 核心竞争力</h3>
            </div>
            <div class="col-md-12 mt-20">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/assets/images/extreme/competition.jpg" alt="" style="width: 100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 extreme-title">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <h3>外汇宝<span style="font-family: Calibri;font-size: 30px;">®</span> 风险控制体系</h3>
            </div>
            <div class="col-md-12 mt-20">
                <div class="row">
                    <div class="risk-left col-md-5">
                        <img src="/assets/images/extreme/risk1.png" alt="" style="width: 100%" />
                        <img src="/assets/images/extreme/risk2.png" alt="" style="width: 100%;margin-top: 6px;" />
                    </div>
                    <div class="risk-right col-md-7">
                        <img src="/assets/images/extreme/risk3.png" alt="" style="width: 100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-12 extreme-title">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <h3>理财方案</h3>
            </div>
            <div class="col-md-12">
                <table class="assets-table">
                    <tr style="background-color: #256A84;color: #ffffff">
                        <td>金额</td>
                        <td>期限</td>
                        <td>年化收益</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="background-color:#ffffff">5万≤认购金额＜50万</td>
                        <td>1个月≤期限＜3个月</td>
                        <td>6.5%</td>
                    </tr>
                    <tr>
                        <td>1个月≤期限＜6个月</td>
                        <td>8.0%</td>
                    </tr>
                    <tr>
                        <td>1个月≤期限＜12个月</td>
                        <td>10.0%</td>
                    </tr>
                    <tr>
                        <td>12个月</td>
                        <td>13.0%</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="background-color:#ffffff">50万≤认购金额</td>
                        <td>1个月≤期限＜3个月</td>
                        <td>7.0%</td>
                    </tr>
                    <tr>
                        <td>1个月≤期限＜6个月</td>
                        <td>9.0%</td>
                    </tr>
                    <tr>
                        <td>1个月≤期限＜12个月</td>
                        <td>11.0%</td>
                    </tr>
                    <tr>
                        <td>12个月</td>
                        <td>14.0%</td>
                    </tr>
                </table>
                <div class="row mt-20">
                    <div class="col-sm-2 col-xs-4">
                        产品名称：<span class="extreme-name">天平外汇宝</span>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        发行规模： <span class="extreme-name">3000万元</span>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        递增金额： <span class="extreme-name">1万元</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-md-12 extreme-title">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                <h3>收益计算</h3>
            </div>
            <div class="col-md-12">
                <h5 style="font-size: 16px;">投资案例一：</h5>
                <p>梁先生准备了200万元打算买一套房子，原来计划一次性付清房款，经实盈投资顾问介绍了“天平外汇宝”理财产品后，选择了商业贷款方式，贷款10年。梁先生先首付60万元，将余下140万元投资了“天平外汇宝”，收益率每月可达1.17%，那梁先生每月可平均回收16333元利息，不但轻松地偿还月供15698元（120期），每个月还有盈余资金。假如梁先生10年都选择在实盈做年化14%的理财产品，按复利计算140万元本金10年后可增值为519万元总资产，在还清房屋贷款的同时梁先生还可以有一笔可观的收入。</p>
            </div>
            <div class="col-md-12">
                <h5 style="font-size: 16px;">投资案例二：</h5>
                <p>
                    曾先生有闲散资金100万元，暂时未确定其他用途，经实盈投资顾问介绍“天平外汇宝”理财产品后，选择先尝试投资一个月，获得年息7.0%。一个月到期后曾先生选择逐月续期，续期至第三个月时，当月年息自动调整为9.0%。由于资金用途不确定性，曾先生100万投资全部以逐月续存参与“天平外汇宝”产品，年息收益累计共10.08%，既保留了资金最大限度的流动性，还享受实盈产品的收益递增优惠
                </p>
            </div>
        </div>
    </div>
    <br />
</section>
<!-- section end -->
@Html.Partial("ModalReservation")