@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<div class="banner dark-translucent-bg" style="background-image:url('intro-images/intro-banner.jpg');">
    <!-- section start -->
    <!-- ================ -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 space-bottom">
                <div class="title large_white object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">The Project</div>
                <p class="text-center lead object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Multipurpose HTML5 Template - More than 140 HTML files.</p>
                <div class="separator object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <ul class="list-inline">
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> Corporate</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> Commerce</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> Medical‎</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400"><i class="icon-check text-default"></i> Restaurant</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500"><i class="icon-check text-default"></i> Wedding</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600"><i class="icon-check text-default"></i> Portfolio/Agency</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600"><i class="icon-check text-default"></i> Landing</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500"><i class="icon-check text-default"></i> One Page</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400"><i class="icon-check text-default"></i> Coming Soon</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300"><i class="icon-check text-default"></i> 12 Header Options</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200"><i class="icon-check text-default"></i> 5 Footer Options</li>
                    <li class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"><i class="icon-check text-default"></i> Much More</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center pv-40 hidden-xs">
                    <a href="#demos" class="btn btn-lg btn-animated radius-50 btn btn-white smooth-scroll object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">Demos	<i class="fa fa-arrow-down"></i></a>
                    <span class="ph-20"></span>
                    <a href="#sliders" class="btn btn-lg btn-animated radius-50 btn-white smooth-scroll object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">Slider Options <i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
</div>
<!-- banner end -->
<div id="demos"></div>
<section class="pv-40">
    <div class="container">
        <h2 class="text-center">Demos</h2>
        <div class="row">
            <div class="col-sm-4">
                <h3>Default</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-1.jpg" alt="">
                        <a target="_blank" href="template/index.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Corporate 1</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-2.jpg" alt="">
                        <a target="_blank" href="template/index-corporate-1.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Corporate 2</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-3.jpg" alt="">
                        <a target="_blank" href="template/index-corporate-2.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Corporate 3</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-4.jpg" alt="">
                        <a target="_blank" href="template/index-corporate-3.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Commerce 1</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-5.jpg" alt="">
                        <a target="_blank" href="template/index-shop.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Commerce 2</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-6.jpg" alt="">
                        <a target="_blank" href="template/index-shop-2.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Portfolio/Agency</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-7.jpg" alt="">
                        <a target="_blank" href="template/index-portfolio.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Medical</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-8.jpg" alt="">
                        <a target="_blank" href="template/index-medical.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Restaurant</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-9.jpg" alt="">
                        <a target="_blank" href="template/index-restaurant.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Wedding</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-10.jpg" alt="">
                        <a target="_blank" href="template/index-wedding.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Landing Page</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-11.jpg" alt="">
                        <a target="_blank" href="template/index-landing.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Coming Soon</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-12.jpg" alt="">
                        <a target="_blank" href="template/page-coming-soon.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>One Page Version</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-13.jpg" alt="">
                        <a target="_blank" href="template/index-one-page.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>HTML Email Templates</h3>
                <div class="image-box bordered text-center mb-20">
                    <img src="intro-images/demo-14.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>More?</h3>
                <div class="image-box bordered text-center mb-20">
                    <img src="intro-images/demo-15.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="sliders"></div>
<section class="pv-40">
    <div class="container">
        <h2 class="text-center">Main Slider Options</h2>
        <div class="row">
            <div class="col-sm-4">
                <h3>Fullscreen</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-16.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-fullscreen.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Full Width</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-17.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-fullwidth.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Full Width Big Height</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-18.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-fullwidth-big-height.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Boxed Light Background</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-19.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-boxedwidth-light.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Boxed Dark Background</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-20.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-boxedwidth-dark.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Boxed Colored Background</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-21.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-boxedwidth-default.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Video Background</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-22.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-video-background.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Text Rotator</h3>
                <div class="image-box shadow bordered text-center mb-20">
                    <div class="overlay-container">
                        <img src="intro-images/demo-23.jpg" alt="">
                        <a target="_blank" href="template/features-sliders-text-rotator.html" class="overlay-link"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h3>More?</h3>
                <div class="image-box bordered text-center mb-20">
                    <img src="intro-images/demo-15.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer top start -->
<!-- ================ -->
<div class="dark-bg footer-top animated-text default-hovered">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Powerful Bootstrap Template</h2>
                            <h2>Waste no more time</h2>
                        </div>
                        <div class="col-sm-4">
                            <p class="mt-10"><a href="#" class="btn btn-animated btn-lg btn-gray-transparent">Purchase<i class="fa fa-cart-arrow-down pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer top end -->
<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
