@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("_Breadcrumb", Model)
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div style="max-width:1000px;margin:0 auto;padding: 10px 0;">
                @(Html.Raw(Model.Content.GetPropertyValue<string>("content")))
            </div>
        </div>
    </div>
</div>