@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("_Breadcrumb", Model)

<section class="main-container padding-bottom-clear">

    <div class="container">
        <div class="row">
            @(Html.Raw(Model.Content.GetPropertyValue<string>("content")))
        </div>
    </div>
</section>
