@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<footer id="footer" class="clearfix footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-center">版权所有 © 2015 • <a href="/">bytefunds.com</a> • 保留所有权利 </p>
            </div>
            <div class="col-sm-6">
                <img style="float:left;margin-left:10px" src="~/assets/images/footer/001.png" />
                <img style="float:left;margin-left:10px" src="~/assets/images/footer/002.png" />
                <img style="float:left;margin-left:10px" src="~/assets/images/footer/003.png" />
                @*<img src="~/assets/images/footer/004.png" />*@
                @*<div class="row">
                    <div class="col-md-3">
                        <img src="~/assets/images/footer/001.png"  />
                    </div>
                    <div class="col-md-3">
                        <img src="~/assets/images/footer/002.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="~/assets/images/footer/003.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="~/assets/images/footer/004.png" />
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</footer>